# Default configuration for HTTP Facade service

# server listening port
frontend_port=9000

## CACHE
# If use_redis set to 0, in_memory cache would be used. To use redis, set use_redis=1
use_redis=1

# redis configurations
redis_host=localhost
redis_port=6379
# redis cache TTL in hours
redis_ttl=24

# in_memory cache configurations
in_memory_cache_max_size=10000
# in_memory cache TTL in hours
in_memory_cache_ttl=24

## LOGGING

# log levels available : DEBUG, INFO, WARNING, CERROR, SETUP
log_level=DEBUG

## Metrics

# Definition : metrics_batch_size to flush to StatsDServer at every metrics_send_interval_in_millis. 
# Default : metrics_batch_size=100 & metrics_send_interval=1000
metrics_batch_size=100
metrics_send_interval_in_millis=1000


## Other performance params

# Note that below numbers are NOT CONFIGURABLE from this file
# To change those, directly do it in AppConfig.hpp

server_sla_in_micros = 1000000;
request_average_processing_time_in_micros = 1200;
connection_timeout_in_microseconds = 25000;
read_request_timeout_in_microseconds = 50000;
backend_servers_circuit_breaker_cool_off_duration_in_millis = 10;
drop_sla_timeout_requests = true;
# Note that this depends on hardware call to determine number of cores. 
# By default total number of threads would be 2.
number_of_threads_per_core = 2; 