# Default configuration for Backendify

# server listening port
frontend_port=9000

## CACHE
# If use_redis set to 0, in_memory cache would be used. To use redis, set use_redis=1
use_redis=1

# redis configurations
redis_host=localhost
redis_port=6379
# redis cache TTL in hours
redis_ttl=24

# in_memory cache configurations
in_memory_cache_max_size=10000
# in_memory cache TTL in hours
in_memory_cache_ttl=24

## LOGGING

# log levels available : DEBUG, INFO, WARNING, CERROR, SETUP
log_level=CERROR

## Metrics

# Definition : metrics_batch_size to flush to StatsDServer at every metrics_send_interval_in_millis. 
# Default : metrics_batch_size=100 & metrics_send_interval=1000
metrics_batch_size=100
metrics_send_interval_in_millis=1000